$white: #ffffff;
$light: #f8f9fa;
$dark: #212529;
$primary: tomato;
$secondary: #414757;
$info: #1361c6;
$success: #198754;
$warning: #ffc107;
$danger: #dc3545;
$link-color: tomato;
$link-decoration: none;

@import '../../node_modules/bootstrap/scss/bootstrap';
